* {
  /* main */
  --foreground: rgba(232, 229, 237, 1); /* #e8e5ed */
  --background: rgba(18, 11, 26, 1); /* #120b1a */
  --primary: rgba(61, 49, 82, 1); /* #3d3152 */
  --secondary: rgba(75, 71, 88, 1); /* #4b4758 */
  --accent: rgba(87, 189, 50, 1); /* #57bd32 */

  /* transparent 80% */
  --foreground-80: rgba(232, 229, 237, 0.8);
  --background-80: rgba(18, 11, 26, 0.8);
  --primary-80: rgba(61, 49, 82, 0.8);
  --secondary-80: rgba(75, 71, 88, 0.8);
  --accent-80: rgba(87, 189, 50, 0.8);

  /* transparent 50% */
  --foreground-50: rgba(232, 229, 237, 0.5);
  --background-50: rgba(18, 11, 26, 0.5);
  --primary-50: rgba(61, 49, 82, 0.5);
  --secondary-50: rgba(75, 71, 88, 0.5);
  --accent-50: rgba(87, 189, 50, 0.5);

  /* transparent 20% */
  --foreground-20: rgba(232, 229, 237, 0.2);
  --background-20: rgba(18, 11, 26, 0.2);
  --primary-20: rgba(61, 49, 82, 0.2);
  --secondary-20: rgba(75, 71, 88, 0.2);
  --accent-20: rgba(87, 189, 50, 0.2);
}
