@import "./theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 11;
  min-height: 18px;
  transition:
    background-color 60ms ease,
    color 60ms ease,
    border-color 60ms ease;
}

window#waybar {
  background: @bar-bg;
  border-radius: 0px;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 8px;
  border-width: 0;
}

#idle_inhibitor,
#workspaces,
#clock,
#mpris,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#battery,
#custom-swaync,
#custom-l_end,
#custom-r_end {
  color: @main-fg;
  margin: 3px 0;
  background: @main-bg;
  padding: 6px 8px 6px 4px;
}

#workspaces {
  padding: 0px 0;
}
#workspaces button {
  background: transparent;
  color: @main-fg;
  border-radius: 8px;
}
#workspaces button:hover {
  background: @hvr-bg;
  color: @hvr-fg;
  outline: none;
  box-shadow: none;
}
#workspaces button.active {
  background: @act-bg;
  color: @act-fg;
}
#workspaces buttonfocus {
  outline: none;
  box-shadow: none;
}

#mpris {
  font-size: 10;
}

#custom-l_end {
  margin-left: 3px;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 0px;
  border-radius: 8px 0 0 8px;
}

#custom-r_end {
  margin-left: 0;
  margin-right: 3px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0 8px 8px 0;
}

#idle_inhibitor,
#workspaces,
#clock,
#mpris,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#battery,
#custom-swaync {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

#custom-l_end + * {
  margin-left: 0;
}
* + #custom-r_end {
  margin-left: 0;
}

#idle_inhibitor:hover,
#clock:hover,
#mpris:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#battery:hover,
#custom-swaync:hover {
  background: @hvr-bg;
  color: @hvr-fg;
}
